[submodule "group7_ws/src/darknet_ros"]
	path = group7_ws/src/darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros
[submodule "group7_ws/src/apriltag"]
	path = group7_ws/src/apriltag
	url = https://github.com/AprilRobotics/apriltag
[submodule "group7_ws/src/apriltag_ros"]
	path = group7_ws/src/apriltag_ros
	url = https://github.com/AprilRobotics/apriltag_ros
